<!DOCTYPE html>
<html>
<head>
  <title>Reserveapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
  
<%= link_to "HOME", reservations_path %>
</body>
</html>
